@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  color: black;
  background-color: white;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: aliceblue;
  }
} */

/* :root {
  color: black;
  background-color: white;
}

@media (prefers-color-scheme: light) {
  :root {
    color: black;
    background-color: white;
  }
}

body {
  color: black;
  background-color: white;
} */
